@using Microsoft.AspNetCore.Identity
@using Kuwadro.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Kuwadro</title>
    <link rel="stylesheet" href="~/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Saira Semi Condensed' rel='stylesheet'>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
</head>
<body>
    <header>
        <div class="navbar-xxx">
            <div class="navbar-container">
                <div class="logo-container">
                    <h1 class="logo">Kuwadro</h1>
                </div>
                <div class="menu-container">
                    <ul class="menu-list">
                        <li class="menu-item home" asp-area="" asp-controller="Home" asp-action="Index">Home</li>
                        <li class="menu-item">What's New</li>
                        <li class="menu-item">Post your work</li>
                    </ul>
                </div>
                <div class="profile-container">
                    <img class="profile-pic" src="~/css/images/booba.png" alt=""><!--get user profile if else too-->
                    <div class="profile-text">
                        @if (SignInManager.IsSignedIn(User))
                        {
                            var currentUser = await UserManager.GetUserAsync(User);
                            <span class="prof-txt">@(currentUser.UserName)</span>
                            <i class="fas fa-caret-down"></i>
                        }
                        else
                        {
                            <button class="sign-up">Sign-Up</button>
                        }

                    </div>
                    <div class="toggle">
                        <i class="fas fa-moon toggle-icon"></i>
                        <i class="fas fa-sun toggle-icon"></i>
                        <div class="toggle-ball"></div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main role="main">
        @RenderBody()
    </main>
    <script src="~/js/style.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
