@model Kuwadro.Models.ApplicationUser
@using Microsoft.AspNetCore.Identity
@inject Kuwadro.Data.ApplicationDbContext _context
@{
    ViewData["Title"] = "Profile Page";
}
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


<head>
    <link rel="stylesheet" href="~/css/profile-design.css" />
</head>
<body>
    <div class=container>
        @{var currentUser = Model;

            <div class="profile">
                @if (currentUser.Background != null)
                {
                    <img class="background-c" src="~/pfp/coverPic/@(currentUser.Background)">
                }

                <div class="profile-content">

                    @if (currentUser.ProfilePicture != null)
                    {
                        <img class="profile-picture" src="~/pfp/profilePic/@(currentUser.ProfilePicture)">
                        <div class="Prof-pic pictoverlay-blur">
                        </div>
                    }
                    else
                    {
                        <img class="profile-picture" src="~/pfp/profilePic/default pfp.png">
                        <div class="Prof-pic pictoverlay-blur">
                        </div>
                    }
                    <p class="profile-name">@(currentUser.UserName)</p>
                    @if (currentUser.Bio != null)
                    {
                        <p class="profile-about">@currentUser.Bio</p>
                    }
                    else
                    {
                        <p class="profile-about">This person apparently exists</p>
                    }
                </div>
            </div>
        }

        <ul class="second-navbar-list">
            <li><a href="default.asp">Gallery</a></li>
            <li><a href="news.asp">Review</a></li>
            <li><a href="contact.asp">About</a></li>
            <li><a href="about.asp">Commissions</a></li>
        </ul>
        <div class="Gallery">
            @Model.About
           
        </div>
    </div>
    <script src="~/js/Profile.js">
    </script>

</body>
