@model Kuwadro.Models.Profile
@using Microsoft.AspNetCore.Identity
@inject Kuwadro.Data.ApplicationDbContext _context
@{
    ViewData["Title"] = "Profile Page";
}
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


<head>
    <link rel="stylesheet" href="~/css/profile-design.css" />
</head>
<body>
    <div class=container>


        @Html.Partial("_ProfileTop", Model)

        <div class="Gallery">
            @Model.User.About

        </div>
    </div>
    <script src="~/js/Profile.js">
    </script>

</body>
