@model Kuwadro.Models.Commission

@{
    ViewData["Title"] = "Commission";
}
<head>
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>
    <div class="container-zzz">
        <div class="upload-container">
            <div class="upload-form">
                <form asp-action="Commission">
                    @if (ViewBag.Message != null)
                    {
                        <div>
                            @ViewBag.Message
                        </div>
                    }
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="input-container">
                        <label asp-for="Contact" class="control-label"></label>
                        <input asp-for="Contact" class="form-control" />
                        <span asp-validation-for="Contact" class="text-danger"></span>
                    </div>
                    <div class="input-container">
                        <label asp-for="Description" class="control-label"></label>
                        <textarea asp-for="Description" class="form-control"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <button type="submit" class="upload" value="Send">Send</button>
                </form>
            </div>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</body>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
