@model IEnumerable<Kuwadro.Models.Art>

@{
    ViewData["Title"] = "ProfilePage";
}
<head>
    <link rel="stylesheet" href="~/css/profile-design.css">
</head>
<body>

    @foreach (var item in Model)
    {
        <div class="Pictors">
            <img src="~/img/ArtWorks/@item.Image" class="Viktor">
            <div class="pictoverlay pictoverlay-blur">
                <div class="imgtitle">@item.Title</div>
                <p class="description">@item.Description</p>
                <a href="Artwork.html" class="Open"><p class="OpenB">Open Artwork</p></a>
            </div>
        </div>
    }
</body>

