@model Kuwadro.Models.Art
@inject Kuwadro.Data.ApplicationDbContext _context;
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "UploadArt";
    //var categoryList = _context.artList.ToList();

}
@if (SignInManager.IsSignedIn(User))
{
    <head>
        <link rel="stylesheet" href="~/css/style.css" />
    </head>
    <body>
        <div class="container-zzz">
            <div class="upload-container">
                <div class="upload-form">
                    <form asp-action="UploadArt" enctype="multipart/form-data">

                        <div class="input-container">
                            <label asp-for="Image">Upload Artwork</label><br>
                            <input asp-for="Image" class="form-control" type="file" accept="image/*" required /><br>
                            <span asp-validation-for="Image" class="valid"></span>
                        </div><br>
                        <div class="input-container">
                            <label asp-for="Title">Title</label><br>
                            <input asp-for="Title" type="text" /><br>
                            <span asp-validation-for="Title" class="valid"></span>
                        </div><br>
                        <div class="input-container">
                            <label asp-for="Description">Description</label><br>
                            <textarea asp-for="Description" class="form-control" rows="4" cols="50"></textarea><br>
                            <span asp-validation-for="Description" class="valid"></span>
                        </div><br>
                        <div class="input-container">
                            <label asp-for="Genre">Genre</label><br>
                            <select asp-for="Genre" class="form-control" asp-items="Html.GetEnumSelectList<Genres>()"></select><br>
                            <span asp-validation-for="Genre" class="valid"></span>
                        </div>
                        <button type="submit" value="Upload" class="upload">Upload</button>
                    </form>
                </div>
            </div>
        </div>
    </body>

}
else
{
    <h1>Please Create an Account to continue</h1>

}

<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.2.0.min.js"></script>

<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}