@model Kuwadro.Models.ApplicationUser

@{
    ViewData["Title"] = "UploadProfile";
}

<body>
    <div class="container-zzz">
        <div class="upload-container">
            <div class="upload-form">
                <form asp-action="UploadProfile" enctype="multipart/form-data">
                    <div class="input-container">
                        <label asp-for="ProfilePicture">Upload Artwork</label><br>
                        <input asp-for="ProfilePicture" type="file" accept="image/*" />
                        <span asp-validation-for="ProfilePicture" class="text-danger"></span>
                    </div><br>
                    <div class="input-container">
                        <label asp-for="Background">Title</label><br>
                        <input asp-for="Background" type="file" accept="image/*" />
                        <span asp-validation-for="Background" class="text-danger"></span>
                    </div><br>
                    <div class="input-container">
                        <label asp-for="Bio">Description</label><br>
                        <input asp-for="Bio" type="text" />
                        <span asp-validation-for="Bio" class="text-danger"></span>
                    </div><br>
                    <button type="submit" value="Save" class="save">Save</button>
                </form>
            </div>
        </div>
    </div>
</body>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
