@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = null;
}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="~/css/login-reg.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Saira Semi Condensed' rel='stylesheet'>
    <style>
        body {
            font-family: 'Saira Semi Condensed';
            font-size: 22px;
        }
    </style>
</head>
<body>
    <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
        <div class="reg-form">
            <div class="title">
                Register
                <hr>
            </div>
            <div class="input_field">
                <label asp-for="Input.Email">Email</label><br>
                <input asp-for="Input.Email" type="email" placeholder="Email"><br>
                <span asp-validation-for="Input.Email"></span>
            </div>
            <div class="input_field">
                <label asp-for="Input.UserName">Username</label><br>
                <input asp-for="Input.UserName" type="text" placeholder="Username"><br>
                <span asp-validation-for="Input.UserName"></span>
            </div>
            <div class="input_field">
                <label asp-for="Input.Password">Password</label><br>
                <input asp-for="Input.Password" type="password" placeholder="Password"><br>
                <span asp-validation-for="Input.Password"></span>
            </div>
            <div class="input_field">

                <label asp-for="Input.ConfirmPassword">Re-Type Password</label><br>
                <input asp-for="Input.ConfirmPassword" type="password" placeholder="Re-Type Password"><br>
                <span asp-validation-for="Input.ConfirmPassword"></span>
            </div>
            <button type="submit" class="btn-reg">Register</button>
    </form>
    <div class="title">
        or<br>
    </div>
    <button type="submit" asp-page="./Login" class="btn-log">Login</button>
    </div>
</body>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
