* {
    margin: 0;
    font-family: 'Saira Semi Condensed';
}

body {
    font-family: 'Saira Semi Condensed';
}

/* Navbar */
.navbar-xxx {
    width: 100%;
    height: 50px;
    background-color: #141414;
}

.navbar-container {
    display: flex;
    align-items: center;
    padding: 0 50px;
    height: 100%;
    color: white;
}

.logo-container {
    flex: 2;
}

.logo {
    font-size: 30px;
    color: beige;
    cursor: pointer;
}

.menu-container {
    flex: 5;
}

.menu-list {
    display: flex;
    list-style: none;
    cursor: pointer;
}

.menu-item {
    margin-right: 30px;
    text-decoration: none;
}

    .menu-item.home:hover {
        font-weight: bold;
    }

    .menu-item.new:hover {
        font-weight: bold;
    }

    .menu-item.post:hover {
        font-weight: bold;
    }


.profile-container {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
}

.profile-text {
    margin: 0 20px;
}

.profile-pic {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.toggle {
    width: 40px;
    height: 20px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

.toggle-icon {
    color: goldenrod;
}

.toggle-ball {
    width: 18px;
    height: 18px;
    background-color: #151515;
    position: absolute;
    right: 1px;
    border-radius: 50%;
    cursor: pointer;
    transition: .5s ease all;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        .dropdown-content a:hover {
            background-color: #ddd;
        }

.dropdown:hover .dropdown-content {
    display: block;
}
/* Home start */
.container-xxx {
    background-color: #2b2b2b;
    min-height: calc(100vh - 50px);
    color: white;
}

.content-container {
    margin-left: 0; /*can be 100px+*/
}

.featured-content {
    height: 50vh;
    background: linear-gradient(to bottom, rgba(0,0,0,0),#2b2b2b),url(images/img-1.jpg);
    /*might remove gradient*/
    padding: 50px;
    background-position: center center;
}

@keyframes slide {
    0% {
        background-image: url(images/img-1.jpg);
    }

    40% {
        background-image: url(images/img-2.jpg);
    }

    80% {
        background-image: url(images/img-3.jpg);
    }
}

.featured-title {
    width: 200px;
    align-items: center;
    margin-left: 45%;
    margin-top: 10%;
}

    .featured-title h1 {
        font-size: 50px;
    }

.feat-desc {
    width: 500px;
    color: lightgray;
    margin: 30px 0;
}

.discover {
    background-color: cadetblue;
    color: #2b2b2b;
    padding: 10px 20px;
    border-radius: 7px;
    border: none;
    outline: none;
    font-weight: bold;
}

.sign-up {
    background-color: lightcoral;
    color: #2b2b2b;
    padding: 10px 20px;
    border-radius: 7px;
    border: none;
    outline: none;
    font-weight: bold;
}

.discover:hover {
    background-color: rgb(86, 144, 146);
    cursor: pointer;
}

.sign-up:hover {
    background-color: rgb(218, 114, 114);
    cursor: pointer;
}

.art-list-container {
    margin-left: 37px;
    padding: 20px;
}

.art-list-wrapper {
    position: relative;
    overflow: hidden;
}

.art-list {
    display: flex;
    align-items: center;
    height: 300px;
    transform: translateX(0);
    transition: all 1s ease-in-out;
}

.art-list-item {
    margin-right: 30px;
    position: relative;
}

    .art-list-item:hover .art-list-item-img {
        transform: scale(1.2);
        margin: 0 30px;
        opacity: 0.5;
    }

    .art-list-item:hover .art-list-item-title,
    .art-list-item:hover .art-list-item-btn {
        opacity: 1;
    }

.art-list-item-img {
    width: 270px;
    height: 200px;
    object-fit: cover;
    border-radius: 7px;
    transition: all .3s ease-in-out;
}

.art-list-item-title {
    background-color: #333;
    padding: 0 10px;
    font-size: 32px;
    font-weight: bold;
    position: absolute;
    top: 10%;
    left: 50px;
    opacity: 0;
    transition: .3s all ease-in-out;
}

.art-list-item-btn {
    padding: 10px;
    background-color: lightcoral;
    color: black;
    border-radius: 7px;
    outline: none;
    border: none;
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    left: 50px;
    opacity: 0;
    transition: .3s all ease-in-out;
}

    .art-list-item-btn:hover {
        background-color: rgb(204, 109, 109);
    }

#right-arrow {
    font-size: 120px;
    position: absolute;
    top: 90px;
    right: 0;
    color: lightgray;
    opacity: .5;
    cursor: pointer;
}
/* Home-end */
/* Indiv-art */
.container-zzz {
    background-color: #2b2b2b;
    min-height: calc(100vh - 50px);
    color: white;
}

.indiv-art {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.art-info {
    position: relative;
    display: block;
    width: 90%;
    margin: auto;
}

.imgBox {
    width: 60%;
    height: 30%;
    margin: auto;
    vertical-align: top;
    object-position: center;
    justify-content: center;
}

.posted-art {
    width: 100%;
    height: 100%;
    margin: 20px;
}

.art-desc {
    margin: auto;
    position: relative;
    display: block;
    width: 70%;
    text-align: center;
}

.art-content {
    margin-left: 3%;
}

.title {
    margin-top: 10px;
}

.author {
    margin-top: 10px;
}

.desc {
    margin: auto;
    text-align: justify;
    width: 600px;
}

.tags {
    margin-bottom: 20px;
}

.genres {
    text-align: center;
    margin-top: 0;
    margin-left: 20px;
}

.btn-profile-view {
    border: none;
    border-radius: 5px;
    background-color: #70b8df;
    height: 40px;
}

    .btn-profile-view:hover {
        background-color: #7AC9F5;
    }
.some-btn {
    border: none;
    border-radius: 4px;
    height: 30px;
    background-color: #7AC9F5;
}

    .some-btn:hover {
        background-color: #70b8df;
    }
/* Indiv-art end */
/* About-us */
.container-about {
    text-align: center;
    background: #f5f5f5;
}

.header {
    padding-top: 60px;
    color: #444;
    font-size: 20px;
    margin: auto;
    line-height: 50px;
}

.dev-container {
    max-width: 1200px;
    margin: auto;
    padding: 48px 0;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

.teams {
    margin: 10px;
    padding: 22px;
    max-width: 20%;
    cursor: pointer;
    transition: 0.4;
    box-sizing: border-box;
}

    .teams:hover {
        background: #ddd;
        border-radius: 12px;
    }

    .teams img {
        height: 200px;
        width: 200px;
        border-radius: 100px;
    }

.name {
    padding: 12px;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
}

.role {
    font-style: italic;
    color: #888;
}

.about {
    margin: 20px 0;
    font-weight: lighter;
    color: #4e4e4e;
}

.socmed {
    margin: 14px;
}

    .socmed a {
        display: inline-block;
        height: 30px;
        width: 30px;
        transition: .4s;
    }

        .socmed a i {
            color: #444;
        }

        .socmed a:hover {
            transform: scale(1.5);
        }

.about-us {
    margin-left: 10%;
    margin-right: 10%;
    padding: 5%;
    align-items: center;
    justify-content: center;
}

    .about-us p {
        text-align: justify;
        font-size: 22px;
        line-height: 50px;
    }
/* Edit Profile/Upload Art */
.upload-container {
    margin-left: 45%;
}

.upload-form {
    padding-top: 20%;
}

.save, .upload {
    margin-top: 30px;
    color: black;
    width: 150px;
    padding: 12px;
    text-align: center;
    border-radius: 20px;
    border: none;
    background-color: #7AC9F5;
}

    .save, .upload:hover {
        background-color: #70b8df;
    }
/* ProfileSearch */
.artist-profiles {
    display: flex;
    margin-left: 100px;
    padding-top: 70px;
}

.this-card {
    transition: 0.4s;
    width: 300px;
    background: #fff;
    color: black;
    text-align: center;
    font-size: 16px;
    float: left;
    margin: 10px;
    height: 450px;
    border-radius: 5px;
    border: #141414;
    border-width: thin;
}

    .this-card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);
    }

    .this-card img {
        border-radius: 0px;
    }

.card-container {
    padding: 30px 16px;
}


/*light mode toggle*/
label.active {
    color: black;
}

.container-xxx.active {
    background-color: beige;
}

.art-list-title.active {
    color: black;
}

.navbar-container.active {
    background-color: rgb(223, 223, 203);
    color: black;
}

.logo.active {
    color: black;
}

.toggle.active {
    background-color: #151515;
}

.toggle-ball.active {
    background-color: beige;
    transform: translateX(-20px);
}

body.active {
    background-color: beige;
}

.art-desc.active {
    color: black;
}

.container-zzz.active {
    background-color: beige;
}

.container-about.active {
    background: #f5f5f5;
}

@media only screen and (max-width: 940px) {
    .menu-container {
        display: none;
    }
}
